<div class="col-md-12">
	<div class="col-md-4">
		<% ProfileQuestion.all.each do |profile_question|  %>
				<%= profile_question.question %>
			<%= f.input :answer %>
			<% f.hidden_field :question, value: profile_question.question %>
		<% end %>
	</div>
</div>