<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Ваш аккаунт подтверждён.</h1>
<p>
  Теперь вы можете пользоваться неограниченным функционалом нашего сайта. 12121212121212
</p>
</body>
</html>