<td align="center" class="relax">
  <button class="btn" data-toggle="modal" data-target="#myModal<%= day + time %>">
    Изменить
  </button>
</td>

 <div class="modal fade" id="myModal<%= day + time %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Название модали</h4>
      </div>
      <div class="modal-body">
       	<%= render 'form_select_student', day: day, time: time %>
        <%= render 'form_vacant', day: day, time: time %>
      </div>
    </div>
  </div>
</div>
