<%= image_tag @user_id.teacher.avatar.url(:thumb) %>
<h6>
	Мой преподаватель: 
		<span class="for_red_words">
			<%= @user_id.teacher.name %>
		</span>
</h6>
<h6>
	Skype: 
		<span class="for_green_words">
			<%= @user_id.teacher.skype %>
		</span>
</h6>
<h6>
	Почта: 
		<span class="for_green_words">
			<%= @user_id.teacher.email %>
		</span>
</h6>