<% if user_signed_in? %>

	<h3>Пожалуйста подождите пока администратор подвердит ваш запрос на регистрацию</h3>

<% else %>	
    
    <% Content.find(1) do |content| %>
		<%= content.title %>
		<%= content.description.html_safe %>
	<% end %>

<% end %>

