<h1>Список литературы</h1>

<ol>
  <% @library_files.each do |library_file| %>
    	<h3><li><%= library_file.name %></h3>
      <h4><%= User.find(library_file.user_id).name %></h4>
      <h4><%= library_file.description %></h4>
      <% if user_signed_in? %>
        <%= link_to "Скачать", '/library_files/'+library_file.path_file.to_s %>
      <% end %>
    </li>
  <% end %>
</ol>