<h1>Кабинет студента</h1>

<% @homeworks.each do |homework| %>
  <div>
	  <% if current_user.position_id == 1 %>
	   	<%= link_to homework.title, show_student_homework_path(homework) %>  |  
	  <% elsif current_user.position_id == 2 %>
	   	<%= homework.title %>	   
	  <% end %>
	  <%= status_homework(homework) %>
  </div>
<% end %>