  <%= link_to 'Создать задание', new_homework_path, class: 'btn btn-default navbar-btn' %>


<% @homeworks.each do |homework| %>
	<div>
		<%= homework.title %>  |  
		<%= link_to 'Удалить', homework_destroy_path(homework.id), method: 'delete' %>
	</div>
<% end %>