<h1>Наши преподаватели</h1>
<% @teachers.each do |teacher| %>
  <%= teacher.name %></br>
  <%= teacher.description %></br>
  <%= image_tag teacher.avatar.url(:medium) %></br>
  <%= link_to 'Расписание', timetable_path(teacher.id) %>
  </br>
<% end %>
