<table>
<tr><th colspan="20">Расписание</th></tr>
 <tr>
  <td>Время</td>
  <td>Понедельник</td>
  <td>Вторник</td>
  <td>Среда</td>
  <td>Четверг</td>
  <td>Пятница</td>
  <td>Суббота</td>
  <td>Воскресенье</td>
 </tr>
  <% count = 7 %>
  <% 17.times do %>
  <tr>
      <td><%= count %>:00</td>
      <% 7.times do %>
    <td>данные</td>
    <% end %>
  </tr>
  <% count += 1 %>
  <% end %>
</table>