<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Зарегистрировался новый пользователь.</h1>
    <p>
      Для подтверждения регистрации воспользуйтесь панелью администратора http://step2universe.com/admin/notactives
    </p>
  </body>
</html>
