<p class="fields">
  <%= f.label :title, "Вариант ответа" %>
  <%= f.text_field :title %>
  <%= f.check_box :is_correct  %>отметить правильный вариант ответа/
  <%= link_to_remove_fields "удалить вариант ответа", f %>
</p>