<h1>Кабинет преподавателя</h1>
<h3>ДЗ на проверку</h3>
<% @unchecked_homeworks.each do |unchecked_homework| %>
    <h6>--------------------------------------------------------------------</h6>
    <h3>Домашнее задание: <%= unchecked_homework.homework.title %></h3>
    <h3>Имя студента:<%= unchecked_homework.user.name %></h3>
    <h3>Статус домашки:<%= unchecked_homework.homework_status.status %></h3>
    <%#= form_for unchecked_homework, url: hw_check_path(unchecked_homework.id), method: 'put' do |f| %>
        <%#= f.hidden_field :status, value: 3 %>
        <%#= f.submit 'Проверить', class: 'btn btn-default' %>
    <%# end %>
    <h6>--------------------------------------------------------------------</h6>
<% end %>