<!DOCTYPE html>
<html>
<head>
</head>
<body>
<h2>Record</h2>
<audio controls src="" id="audio"></audio>
<div style="margin:10px;">
  <a class="button" id="record">Record</a>
  <a class="button disabled one" id="pause">Pause</a>
  <a class="button disabled one" id="stop">Reset</a>
  <a class="button disabled one" id="play">Play</a>
  <a class="button disabled one" id="download">Download</a>
</div>
<input class="button" type="checkbox" id="live"/>
<label for="live">Live Output</label>
<canvas id="level" height="200" width="500"></canvas>
</body>
</html>