<h1><%= @survey.name %></h1>
<div class="col-md-12">
	<% @survey.homework_questions.each do |question| %>
    <div class="col-md-12">
	    <h3><%= question.title %></h3>
	  </div>
	   <% question.homework_answers.each do |answer| %>
      <div class="col-md-12">
	   	  <h6><%= answer.title %> | <%= answer.is_correct %></h6>
	   	</div>
	  <% end %>
	<% end %>
</div>
