<h3>Статус ДЗ:</h3><h3 style="color:red"><%= @status_name %></h3>
<h3>Название ДЗ:</h3><h3 style="color:red"><%= @homework.title %></h3>
<% if @homework_type == "File" %>
 <%= render 'homework_results/form_homework_file' %>
<% elsif @homework_type == "Question" %>
 <%= render 'homework_results/form_homework_question' %>
<% else %>
 Фича на стадии разработка
<% end %>
