@import "bootstrap-sprockets";
@import "bootstrap";

//= require active_admin/editor/wysiwyg

#flash_alert {
padding-top: 16px;
float: right;
}

#flash_notice {
padding-top: 16px;
float: right;
}

.label_home{
	color: #F0FFF0
}

.link-to-top {
  font-size: 30px;
  width: 40px;
  text-align: center;
  color: red;
  position: fixed;
  bottom: 30px;
  right: 50px;
}


.list-group-item {
  padding-left: 30px;
}


.answer_block {
	width: 100%;
}
