@import "bootstrap-sprockets";
@import "bootstrap";

//= require active_admin/editor/wysiwyg

#flash_alert {
padding-top: 16px;
float: right;
}

#flash_notice {
padding-top: 16px;
float: right;
}

.label_home{
	color: #F0FFF0
}
