span.for_red_words {
    color: red;
}

span.for_green_words {
    color: green;
}

span.for_blue_words {
    color: blue;
}

span.for_special_color_word_1 {
  color: #4D90FE;
}

span.for_special_color_word_2 {
  color: lightseagreen;
}

span.for_special_color_word_3 {
  color:forestgreen;
}